.popup {
  width: 20%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(176, 176, 233);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 50px;

}
.open-btn {
  background-color: rgb(128, 133, 236);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: small;
}
.popup-box {
  width: 50%;
  height: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 50px;
}

.close-btn {
  background-color: rgb(128, 133, 236);
  padding: 5px;
  display: flex;
  position: absolute;
  top: 5%;
  left: 90%;
}

.text {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
p {
  text-align: start;
  font-size: larger;
}
